.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Ignore other stuff
.cache
.cache-main
.cache-tests
.settings
.classpath
.project
bin
